.row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.col-1-of-2 {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
}

.card {
  //cambiar el width a card para que le de anchura y esté centrado
  transition: all 0.5s;
  position: relative; // padre relative
  height: 20rem; // poner el mismo height a card y side
  width: 30%;

  &__side {
    height: 20rem;
    transition: all 0.8s ease;
    position: absolute; // cuando se pone absolute, al padre hauy que ponerle relative
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; // para que se vea la parte de atrás al girar

    &--front {
      background-color: orangered;
    }

    &--back {
      background-color: green;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg); // al hacer hover gira 180 en el eje Y
  }

  &:hover &__side--back {
    transform: rotateY(0deg); // al hacer hover gira 180 en el eje Y
  }
}
